﻿@using MarcinWork.Sip.Domain.Data

@if (User.Identity.IsAuthenticated)
{
    <br />

    <button class="btn btn-primary" id="myStopAdd">Dodaj przystanek</button>

    @if (ViewBag.MyStops.Count > 0)
    {
        <br /><br />
        <table class="table table-condensed table-hover">
            @foreach (DbStop dbStop in ViewBag.MyStops)
            {
            <tr id="row-@(dbStop.Id)">
                <td class="nameInfo" id="nameInfo-@(dbStop.Id)" style="cursor: pointer;" data-stop-code="@(dbStop.StopCode)">@dbStop.Name</td>
                <td class="nameEdit" id="nameEdit-@(dbStop.Id)" hidden><input id="nameEditInput-@(dbStop.Id)" type="text" value="@dbStop.Name"></td>
                <td class="buttonInfo" id="buttonInfo-@(dbStop.Id)" width="120px">
                    <button class="myStopEdit btn btn-xs btn-info" data-mystop-id="@(dbStop.Id)">Edytuj</button>
                    <button class="myStopDelete btn btn-xs btn-danger" data-mystop-id="@(dbStop.Id)">Usuń</button>
                </td>
                <td class="buttonEdit" id="buttonEdit-@(dbStop.Id)" width="120px" hidden>
                    <button class="myStopEditSave btn btn-xs btn-success" data-mystop-id="@(dbStop.Id)">Zapisz</button>
                    <button class="myStopEditCancel btn btn-xs btn-danger" data-mystop-id="@(dbStop.Id)">Anuluj</button>
                </td>
            </tr>
            }
        </table>
    }
    else
    {
        <h3>Nie posiadasz zapisanych przystanków.</h3>
    }

}
else
{
    <h3>Musisz się zalogować aby coś tu zobaczyć :)</h3>
}

<script>
    $('#myStopAdd').on('click', function () {
        var url = "@(Url.Action("Search", "Sip"))";
        window.location = url;
    });

    $('.nameInfo').on('click', function () {
        var url = "@Url.Action("Stop", "Sip")";
        window.location.href = url + '?stopCode=' + $(this).data('stop-code');
     });

    $('.myStopEdit').on('click', function () {
        $('#row-' + $(this).data('mystop-id')).addClass('warning');
        $('#nameInfo-' + $(this).data('mystop-id')).hide();
        $('#nameEdit-' + $(this).data('mystop-id')).show();
        $('#buttonInfo-' + $(this).data('mystop-id')).hide();
        $('#buttonEdit-' + $(this).data('mystop-id')).show();
    });

    $('.myStopEditCancel').on('click', function () {
        $('#row-' + $(this).data('mystop-id')).removeClass('warning');
        $('#nameInfo-' + $(this).data('mystop-id')).show();
        $('#nameEdit-' + $(this).data('mystop-id')).hide();
        $('#buttonInfo-' + $(this).data('mystop-id')).show();
        $('#buttonEdit-' + $(this).data('mystop-id')).hide();
    });

    $('.myStopEditSave').on('click', function () {
        var url = "@(Url.Action("ChangeNameMyStop", "Sip"))"
        $.ajax({
            type: "POST",
            url: url + "?id=" + $(this).data('mystop-id') + "&name=" + $('#nameEditInput-' + $(this).data('mystop-id')).val(),
            async: false
        });
        location.reload();
    });

    $('.myStopDelete').on('click', function () {
        var url = "@(Url.Action("DeleteMyStop", "Sip"))"
        $.ajax({
            type: "POST",
            url: url + "?id=" + $(this).data('mystop-id'),
            async: false
        });
        location.reload();
    });
</script>