﻿<style>
    .search-line {
        margin-top: 3px;
    }
</style>

<h2>Wyszukaj przystanek</h2>

<ul id="searchMethod" class="nav nav-pills nav-justified">
    <li id="searchByLineTab" role="presentation" data-toggle="tab" class=""><a href="#searchModeByLine">Wybierz linię</a></li>
    <li id="searchByMapTab" role="presentation" data-toggle="tab" class="active"><a href="#searchModeByMap">Wskaż na mapie</a></li>
</ul>

<div class="tab-content">

    <div id="searchModeByLine" class="tab-pane fade in">

        <br />
        <div id="searchLinesPartial">
            
        </div>
        <br />
        <br />
        <div id="searchRoutesPartial">
            
        </div>

    </div>

    <div id="searchModeByMap" class="tab-pane fade in active">

        <div id="searchMapPartial">
            <div id="map" style="height: 400px;"></div>
        </div>
        
    </div>

</div>

<br />

<div class="search-result-panel panel panel-danger">
    <div class="panel-heading">Wybrany przystanek</div>
    <div class="panel-body">
        <h2 id="searchSelectedStop">Nie wybrano przystanku...</h2>

        <div class="input-group" id="saveInputGroup">
            <input type="text" id="saveName" class="form-control" aria-label="..." placeholder="Podaj nazwę pod jaką chcesz zapisać przystanek...">
            <span class="input-group-btn">
                <button id="saveButton" class="btn btn-primary disabled" data-stop-code="" disabled="disabled">Zapisz</button>
            </span>
        </div>

        <br /><div id="saveStatus" class="alert alert-info" role="alert" hidden></div>

        <br />

        <button id="searchButton" class="btn btn-success disabled" data-stop-code="" disabled>Wyświetl</button>

    </div>
</div>

<script>

    ////////////////////////////////////////////////////

    /// LINES PARTIAL
    function loadPartialLines() {
        $.get('/api/Line')
            .done(function (data) {
                $(data).each(function (index, value) {
                    $('#searchLinesPartial').append('<button class="search-line btn-default btn" data-line-id="' + value.id + '">' + value.number + '</button>');
                });
            });
    }
    function loadPartialRoutes(lineId) {
        $('#searchRoutesPartial').html("");
        $.get('/api/Line/' + lineId + '?withRoutes=true')
            .done(function (data) {
                $(data.routes).each(function (index, route) {
                    $('#searchRoutesPartial').append(`
                        <div class="search-route-collapse panel panel-default">
                            <div class="panel-heading" role="tab" style="border-bottom: 0;" id="heading-` + route.id + `">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-` + route.id + `" aria-expanded="false" aria-controls="collapseThree">
                                        ` + route.name + `
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-` + route.id + `" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-` + route.id + `">
                                <div class="panel-body" style="padding: 0;">
                                    <div data-route-id="` + route.id + `" class="routeStops btn-group-vertical" role="group" aria-label="..." style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>`);
                    
                $(route.stops).each(function (index, stop) {
                    $('.routeStops[data-route-id=' + route.id + ']').append('<button class="search-stop btn btn-default" style="text-align: left;" data-stop-code="' + stop.code + '" data-stop-name="' + (stop.name.replace(/"/g, '\'')) + '">' + (parseInt(index)+1) + '. ' + stop.name + '</button>');
                });
                    
                });
            });
    }

    /// MAP PARTIAL
    var map;

    function loadPartialMap(map) {
        map = L.map('map').fitWorld();

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.uGeoJSONLayer({
            endpoint: "/api/Stop/filter",
            enctype: "json",
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            },
            transformData: function (data) {
                return data.map(function (item) {
                    var obj = {
                        type: 'Feature',
                        properties: {
                            id: item.id,
                            name: item.name,
                            code: item.code,
                            popupContent: item.name
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: [item.longitude, item.latitude]
                        }
                    }
                    return obj;
                });
            },
            onEachFeature: function (feature, layer) {
                if (feature.properties && feature.properties.popupContent) {
                    layer.bindPopup(feature.properties.popupContent);
                }

                layer.on('click', function () {
                    setSelectedStop(feature.properties.name, feature.properties.code)
                });
            }
        }).addTo(map);

        map.on('locationfound', onLocationFound);
        map.on('locationerror', onLocationError);

        map.locate({ setView: true, maxZoom: 20 });
        map.invalidateSize();

        map.fireEvent("refresh");

        return map;
    }

    function onLocationFound(e) {
        var gpsIcon = L.icon({
            iconUrl: '/lib/leaflet/images/gps.png',
            shadowUrl: '/lib/leaflet/images/marker-shadow.png',

            iconSize: [48, 48], // size of the icon
            shadowSize: [41, 41], // size of the shadow
            iconAnchor: [24, 48], // point of the icon which will correspond to marker's location
            shadowAnchor: [15, 48],  // the same for the shadow
            popupAnchor: [0, -49] // point from which the popup should open relative to the iconAnchor
        });

        var radius = e.accuracy / 2;

        L.marker(e.latlng, { icon: gpsIcon }).addTo(map)
            .bindPopup("Twoja lokalizacja");

        map.setZoom(17);

        //L.circle(e.latlng, radius).addTo(map);
    }

    function onLocationError(e) {
        alert(e.message);
    }

    /// SEARCH
    function setSelectedStop(stopName, stopCode) {
        $('#searchSelectedStop').html(stopName);
        
        @if (User.Identity.IsAuthenticated)
        {
            <text>
        $('#saveButton').data('stop-code', stopCode);
        $('#saveInputGroup').show();
            </text>
        }

        $('#searchButton').data('stop-code', stopCode);
        $('#searchButton').prop('disabled', false);
        $('#searchButton').removeClass('disabled');

        $('.search-result-panel').removeClass('panel-danger').addClass('panel-success');
    }

    ////////////////////////////////////////////////////

    $(document).ready(function () {

        $('#saveInputGroup').hide();

        /// Lines
        loadPartialLines();

        $('#searchLinesPartial').on('click', '.search-line', function () {
            loadPartialRoutes($(this).data('line-id'));

            $('.search-line').each(function () {
                $(this).removeClass('btn-primary');
                $(this).addClass('btn-default');
            });

            $(this).addClass('btn-primary');
            $(this).removeClass('btn-default');
        });

        /// Routes
        $('#searchRoutesPartial').on('click', '.search-stop', function () {
            $('.collapse').each(function () { $(this).collapse('hide'); });
            var stopName = $(this).data('stop-name');
            var stopCode = $(this).data('stop-code');
            setSelectedStop(stopName, stopCode);
        });

        /// Map
        map = loadPartialMap(map);

        map.on('click', function (e) {
            console.log(e);
        });

        //////////////////////

        $('#searchButton').on('click', function () {
            var url = "@Url.Action("Stop", "Sip")";
            window.location.href = url + '?stopCode=' + $(this).data('stop-code');
        });

        //$('#saveName').on('input', function () {
        //    if ($(this).val().length > 0) {
        //        $('#saveButton').prop('disabled', false);
        //        $('#saveButton').removeClass('disabled');
        //    } else {
        //        $('#saveButton').prop('disabled', true);
        //        $('#saveButton').addClass('disabled');
        //    }
        //});

        @*$('#saveButton').on('click', function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("AddMyStop", "Sip"))" + "?stopCode=" + $(this).data('stop-code') + "&name=" + $('#saveName').val(),
                beforeSend: function () {
                    $('#saveStatus').removeClass('alert-success').addClass('alert-info').text('Trwa zapisywanie...').show();
                },
                complete: function () {
                    $('#saveStatus').removeClass('alert-info').addClass('alert-success').text('Zapisano.');
                }
            });
        });*@

        $('#searchMethod a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

    });

</script>