﻿<h2 id="stopName"></h2>

<br />

<button id="refreshButton" class="btn btn-success btn-xs">Odśwież</button><br /><br />
<div id="stopTablePartial">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Linia</th>
                <th>Kierunek</th>
                <th>Czas</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <p>_ - tramwaj niskopodłogowy</p>
</div>

<script>

    function loadStop(stopCode) {
        $.get('/api/Stop/' + stopCode)
            .done(function (data) {
                $('#stopName').html(data.name);
            });

        refreshLive(stopCode);
    }

    function refreshLive(stopCode) {
        $.get('/api/Stop/' + stopCode + '/live')
            .done(function (data) {
                $('#stopTablePartial tbody').html('');
                $(data).each(function (index, value) {
                    $('#stopTablePartial tbody').append(`
                        <tr>
                            <td>` + value.line + `</td>
                            <td>` + value.destination + `</td>
                            <td>` + value.arrivalTime + (value.properties.includes('T') ? `<span>(ok.)</span>` : ``) + `</td>
                            <td>` + (value.properties.includes('M') ? `<span> _</span>` : ``) + `</td>
                        </tr>`
                    );
                });
            });
    }

    /////////////////////////////////////////

    $(document).ready(function () {
        var urlParams = new URLSearchParams(window.location.search);
        var stopCode = urlParams.get('stopCode');

        loadStop(stopCode);

        $('#refreshButton').on('click', function () {
            refreshLive(stopCode);
        });
    });

</script>